<div class="row">
    <div class="col-lg-8 mb-4">
        <div class="card">
            <div class="card-body row g-4">
                <div class="col-md-6 pe-md-4 card-separator">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <h5 class="mb-0">New Visitors</h5>
                        <small>Last Week</small>
                    </div>
                    <div class="d-flex justify-content-between" style="position: relative;">
                        <div class="mt-auto">
                            <h2 class="mb-2">23%</h2>
                            <small class="text-danger text-nowrap fw-semibold"><i class="bx bx-down-arrow-alt"></i> -13.24%</small>
                        </div>
                        <div id="visitorsChart" style="min-height: 120px;">
                            <div id="apexchartsbetnr4ej" class="apexcharts-canvas apexchartsbetnr4ej apexcharts-theme-light" style="width: 200px; height: 120px;">
                                <svg id="SvgjsSvg1741" width="200" height="120" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                    <g id="SvgjsG1743" class="apexcharts-inner apexcharts-graphical" transform="translate(22, 5)">
                                        <defs id="SvgjsDefs1742">
                                            <linearGradient id="SvgjsLinearGradient1746" x1="0" y1="0" x2="0" y2="1">
                                                <stop id="SvgjsStop1747" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop>
                                                <stop id="SvgjsStop1748" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop>
                                                <stop id="SvgjsStop1749" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop>
                                            </linearGradient>
                                            <clipPath id="gridRectMaskbetnr4ej">
                                                <rect id="SvgjsRect1751" width="172" height="90.157" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                      fill="#fff"></rect>
                                            </clipPath>
                                            <clipPath id="forecastMaskbetnr4ej"></clipPath>
                                            <clipPath id="nonForecastMaskbetnr4ej"></clipPath>
                                            <clipPath id="gridRectMarkerMaskbetnr4ej">
                                                <rect id="SvgjsRect1752" width="172" height="94.157" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                      fill="#fff"></rect>
                                            </clipPath>
                                        </defs>
                                        <rect id="SvgjsRect1750" width="9.6" height="90.157" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3"
                                              fill="url(#SvgjsLinearGradient1746)" class="apexcharts-xcrosshairs" y2="90.157" filter="none" fill-opacity="0.9"></rect>
                                        <g id="SvgjsG1771" class="apexcharts-xaxis" transform="translate(0, 0)">
                                            <g id="SvgjsG1772" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)">
                                                <text id="SvgjsText1774" font-family="Helvetica, Arial, sans-serif" x="12" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1775">M</tspan>
                                                    <title>M</title></text>
                                                <text id="SvgjsText1777" font-family="Helvetica, Arial, sans-serif" x="36" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1778">T</tspan>
                                                    <title>T</title></text>
                                                <text id="SvgjsText1780" font-family="Helvetica, Arial, sans-serif" x="60" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1781">W</tspan>
                                                    <title>W</title></text>
                                                <text id="SvgjsText1783" font-family="Helvetica, Arial, sans-serif" x="84" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1784">T</tspan>
                                                    <title>T</title></text>
                                                <text id="SvgjsText1786" font-family="Helvetica, Arial, sans-serif" x="108" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1787">F</tspan>
                                                    <title>F</title></text>
                                                <text id="SvgjsText1789" font-family="Helvetica, Arial, sans-serif" x="132" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1790">S</tspan>
                                                    <title>S</title></text>
                                                <text id="SvgjsText1792" font-family="Helvetica, Arial, sans-serif" x="156" y="119.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1793">S</tspan>
                                                    <title>S</title></text>
                                            </g>
                                        </g>
                                        <g id="SvgjsG1796" class="apexcharts-grid">
                                            <g id="SvgjsG1797" class="apexcharts-gridlines-horizontal" style="display: none;">
                                                <line id="SvgjsLine1799" x1="0" y1="0" x2="168" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1800" x1="0" y1="18.031399999999998" x2="168" y2="18.031399999999998" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1801" x1="0" y1="36.062799999999996" x2="168" y2="36.062799999999996" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1802" x1="0" y1="54.094199999999994" x2="168" y2="54.094199999999994" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1803" x1="0" y1="72.12559999999999" x2="168" y2="72.12559999999999" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1804" x1="0" y1="90.15699999999998" x2="168" y2="90.15699999999998" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                            </g>
                                            <g id="SvgjsG1798" class="apexcharts-gridlines-vertical" style="display: none;"></g>
                                            <line id="SvgjsLine1806" x1="0" y1="90.157" x2="168" y2="90.157" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                                            <line id="SvgjsLine1805" x1="0" y1="1" x2="0" y2="90.157" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                                        </g>
                                        <g id="SvgjsG1753" class="apexcharts-bar-series apexcharts-plot-series">
                                            <g id="SvgjsG1754" class="apexcharts-series" rel="1" seriesName="seriesx1" data:realIndex="0">
                                                <path id="SvgjsPath1758"
                                                      d="M 7.2 85.157L 7.2 59.094199999999994Q 7.2 54.094199999999994 12.2 54.094199999999994L 11.8 54.094199999999994Q 16.8 54.094199999999994 16.8 59.094199999999994L 16.8 59.094199999999994L 16.8 85.157Q 16.8 90.157 11.8 90.157L 12.2 90.157Q 7.2 90.157 7.2 85.157z"
                                                      fill="#666ee81a" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area"
                                                      index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 7.2 85.157L 7.2 59.094199999999994Q 7.2 54.094199999999994 12.2 54.094199999999994L 11.8 54.094199999999994Q 16.8 54.094199999999994 16.8 59.094199999999994L 16.8 59.094199999999994L 16.8 85.157Q 16.8 90.157 11.8 90.157L 12.2 90.157Q 7.2 90.157 7.2 85.157z"
                                                      pathFrom="M 7.2 85.157L 7.2 85.157L 16.8 85.157L 16.8 85.157L 16.8 85.157L 16.8 85.157L 16.8 85.157L 7.2 85.157" cy="54.094199999999994" cx="31.2"
                                                      j="0" val="40" barHeight="36.0628" barWidth="9.6"></path>
                                                <path id="SvgjsPath1760"
                                                      d="M 31.2 85.157L 31.2 9.507850000000005Q 31.2 4.507850000000005 36.2 4.507850000000005L 35.8 4.507850000000005Q 40.8 4.507850000000005 40.8 9.507850000000005L 40.8 9.507850000000005L 40.8 85.157Q 40.8 90.157 35.8 90.157L 36.2 90.157Q 31.2 90.157 31.2 85.157z"
                                                      fill="#666ee81a" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area"
                                                      index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 31.2 85.157L 31.2 9.507850000000005Q 31.2 4.507850000000005 36.2 4.507850000000005L 35.8 4.507850000000005Q 40.8 4.507850000000005 40.8 9.507850000000005L 40.8 9.507850000000005L 40.8 85.157Q 40.8 90.157 35.8 90.157L 36.2 90.157Q 31.2 90.157 31.2 85.157z"
                                                      pathFrom="M 31.2 85.157L 31.2 85.157L 40.8 85.157L 40.8 85.157L 40.8 85.157L 40.8 85.157L 40.8 85.157L 31.2 85.157" cy="4.507850000000005"
                                                      cx="55.2" j="1" val="95" barHeight="85.64914999999999" barWidth="9.6"></path>
                                                <path id="SvgjsPath1762"
                                                      d="M 55.2 85.157L 55.2 41.062799999999996Q 55.2 36.062799999999996 60.2 36.062799999999996L 59.8 36.062799999999996Q 64.8 36.062799999999996 64.8 41.062799999999996L 64.8 41.062799999999996L 64.8 85.157Q 64.8 90.157 59.8 90.157L 60.2 90.157Q 55.2 90.157 55.2 85.157z"
                                                      fill="#666ee81a" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area"
                                                      index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 55.2 85.157L 55.2 41.062799999999996Q 55.2 36.062799999999996 60.2 36.062799999999996L 59.8 36.062799999999996Q 64.8 36.062799999999996 64.8 41.062799999999996L 64.8 41.062799999999996L 64.8 85.157Q 64.8 90.157 59.8 90.157L 60.2 90.157Q 55.2 90.157 55.2 85.157z"
                                                      pathFrom="M 55.2 85.157L 55.2 85.157L 64.8 85.157L 64.8 85.157L 64.8 85.157L 64.8 85.157L 64.8 85.157L 55.2 85.157" cy="36.062799999999996"
                                                      cx="79.2" j="2" val="60" barHeight="54.0942" barWidth="9.6"></path>
                                                <path id="SvgjsPath1764"
                                                      d="M 79.2 85.157L 79.2 54.586349999999996Q 79.2 49.586349999999996 84.2 49.586349999999996L 83.8 49.586349999999996Q 88.8 49.586349999999996 88.8 54.586349999999996L 88.8 54.586349999999996L 88.8 85.157Q 88.8 90.157 83.8 90.157L 84.2 90.157Q 79.2 90.157 79.2 85.157z"
                                                      fill="#666ee81a" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area"
                                                      index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 79.2 85.157L 79.2 54.586349999999996Q 79.2 49.586349999999996 84.2 49.586349999999996L 83.8 49.586349999999996Q 88.8 49.586349999999996 88.8 54.586349999999996L 88.8 54.586349999999996L 88.8 85.157Q 88.8 90.157 83.8 90.157L 84.2 90.157Q 79.2 90.157 79.2 85.157z"
                                                      pathFrom="M 79.2 85.157L 79.2 85.157L 88.8 85.157L 88.8 85.157L 88.8 85.157L 88.8 85.157L 88.8 85.157L 79.2 85.157" cy="49.586349999999996"
                                                      cx="103.2" j="3" val="45" barHeight="40.57065" barWidth="9.6"></path>
                                                <path id="SvgjsPath1766"
                                                      d="M 103.2 85.157L 103.2 14.015699999999995Q 103.2 9.015699999999995 108.2 9.015699999999995L 107.8 9.015699999999995Q 112.8 9.015699999999995 112.8 14.015699999999995L 112.8 14.015699999999995L 112.8 85.157Q 112.8 90.157 107.8 90.157L 108.2 90.157Q 103.2 90.157 103.2 85.157z"
                                                      fill="#666ee81a" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area"
                                                      index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 103.2 85.157L 103.2 14.015699999999995Q 103.2 9.015699999999995 108.2 9.015699999999995L 107.8 9.015699999999995Q 112.8 9.015699999999995 112.8 14.015699999999995L 112.8 14.015699999999995L 112.8 85.157Q 112.8 90.157 107.8 90.157L 108.2 90.157Q 103.2 90.157 103.2 85.157z"
                                                      pathFrom="M 103.2 85.157L 103.2 85.157L 112.8 85.157L 112.8 85.157L 112.8 85.157L 112.8 85.157L 112.8 85.157L 103.2 85.157" cy="9.015699999999995"
                                                      cx="127.2" j="4" val="90" barHeight="81.1413" barWidth="9.6"></path>
                                                <path id="SvgjsPath1768"
                                                      d="M 127.2 85.157L 127.2 50.0785Q 127.2 45.0785 132.2 45.0785L 131.8 45.0785Q 136.8 45.0785 136.8 50.0785L 136.8 50.0785L 136.8 85.157Q 136.8 90.157 131.8 90.157L 132.2 90.157Q 127.2 90.157 127.2 85.157z"
                                                      fill="rgba(105,108,255,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0"
                                                      class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 127.2 85.157L 127.2 50.0785Q 127.2 45.0785 132.2 45.0785L 131.8 45.0785Q 136.8 45.0785 136.8 50.0785L 136.8 50.0785L 136.8 85.157Q 136.8 90.157 131.8 90.157L 132.2 90.157Q 127.2 90.157 127.2 85.157z"
                                                      pathFrom="M 127.2 85.157L 127.2 85.157L 136.8 85.157L 136.8 85.157L 136.8 85.157L 136.8 85.157L 136.8 85.157L 127.2 85.157" cy="45.0785"
                                                      cx="151.2" j="5" val="50" barHeight="45.0785" barWidth="9.6"></path>
                                                <path id="SvgjsPath1770"
                                                      d="M 151.2 85.157L 151.2 27.539249999999996Q 151.2 22.539249999999996 156.2 22.539249999999996L 155.79999999999998 22.539249999999996Q 160.79999999999998 22.539249999999996 160.79999999999998 27.539249999999996L 160.79999999999998 27.539249999999996L 160.79999999999998 85.157Q 160.79999999999998 90.157 155.79999999999998 90.157L 156.2 90.157Q 151.2 90.157 151.2 85.157z"
                                                      fill="#666ee81a" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area"
                                                      index="0" clip-path="url(#gridRectMaskbetnr4ej)"
                                                      pathTo="M 151.2 85.157L 151.2 27.539249999999996Q 151.2 22.539249999999996 156.2 22.539249999999996L 155.79999999999998 22.539249999999996Q 160.79999999999998 22.539249999999996 160.79999999999998 27.539249999999996L 160.79999999999998 27.539249999999996L 160.79999999999998 85.157Q 160.79999999999998 90.157 155.79999999999998 90.157L 156.2 90.157Q 151.2 90.157 151.2 85.157z"
                                                      pathFrom="M 151.2 85.157L 151.2 85.157L 160.79999999999998 85.157L 160.79999999999998 85.157L 160.79999999999998 85.157L 160.79999999999998 85.157L 160.79999999999998 85.157L 151.2 85.157"
                                                      cy="22.539249999999996" cx="175.2" j="6" val="75" barHeight="67.61775" barWidth="9.6"></path>
                                                <g id="SvgjsG1756" class="apexcharts-bar-goals-markers" style="pointer-events: none">
                                                    <g id="SvgjsG1757" className="apexcharts-bar-goals-groups"></g>
                                                    <g id="SvgjsG1759" className="apexcharts-bar-goals-groups"></g>
                                                    <g id="SvgjsG1761" className="apexcharts-bar-goals-groups"></g>
                                                    <g id="SvgjsG1763" className="apexcharts-bar-goals-groups"></g>
                                                    <g id="SvgjsG1765" className="apexcharts-bar-goals-groups"></g>
                                                    <g id="SvgjsG1767" className="apexcharts-bar-goals-groups"></g>
                                                    <g id="SvgjsG1769" className="apexcharts-bar-goals-groups"></g>
                                                </g>
                                            </g>
                                            <g id="SvgjsG1755" class="apexcharts-datalabels" data:realIndex="0"></g>
                                        </g>
                                        <line id="SvgjsLine1807" x1="0" y1="0" x2="168" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"
                                              class="apexcharts-ycrosshairs"></line>
                                        <line id="SvgjsLine1808" x1="0" y1="0" x2="168" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                                        <g id="SvgjsG1809" class="apexcharts-yaxis-annotations"></g>
                                        <g id="SvgjsG1810" class="apexcharts-xaxis-annotations"></g>
                                        <g id="SvgjsG1811" class="apexcharts-point-annotations"></g>
                                    </g>
                                    <g id="SvgjsG1794" class="apexcharts-yaxis" rel="0" transform="translate(-8, 0)">
                                        <g id="SvgjsG1795" class="apexcharts-yaxis-texts-g"></g>
                                    </g>
                                    <g id="SvgjsG1744" class="apexcharts-annotations"></g>
                                </svg>
                                <div class="apexcharts-legend" style="max-height: 60px;"></div>
                                <div class="apexcharts-tooltip apexcharts-theme-light">
                                    <div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div>
                                    <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgba(102, 110, 232, 0.1);"></span>
                                        <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div>
                                            <div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span
                                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
                                    <div class="apexcharts-yaxistooltip-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 324px; height: 121px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ps-md-4">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <h5 class="mb-0">Activity</h5>
                        <small>Last Week</small>
                    </div>
                    <div class="d-flex justify-content-between" style="position: relative;">
                        <div class="mt-auto">
                            <h2 class="mb-2">82%</h2>
                            <small class="text-success text-nowrap fw-semibold"><i class="bx bx-up-arrow-alt"></i> 24.8%</small>
                        </div>
                        <div id="activityChart" style="min-height: 120px;">
                            <div id="apexchartsh70zbgqf" class="apexcharts-canvas apexchartsh70zbgqf apexcharts-theme-light" style="width: 220px; height: 120px;">
                                <svg id="SvgjsSvg1813" width="220" height="120" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                    <g id="SvgjsG1815" class="apexcharts-inner apexcharts-graphical" transform="translate(22, 10)">
                                        <defs id="SvgjsDefs1814">
                                            <clipPath id="gridRectMaskh70zbgqf">
                                                <rect id="SvgjsRect1820" width="194" height="83.157" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                      fill="#fff"></rect>
                                            </clipPath>
                                            <clipPath id="forecastMaskh70zbgqf"></clipPath>
                                            <clipPath id="nonForecastMaskh70zbgqf"></clipPath>
                                            <clipPath id="gridRectMarkerMaskh70zbgqf">
                                                <rect id="SvgjsRect1821" width="192" height="85.157" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                      fill="#fff"></rect>
                                            </clipPath>
                                            <linearGradient id="SvgjsLinearGradient1826" x1="0" y1="0" x2="0" y2="1">
                                                <stop id="SvgjsStop1827" stop-opacity="0.8" stop-color="rgba(113,221,55,0.8)" offset="0"></stop>
                                                <stop id="SvgjsStop1828" stop-opacity="0.25" stop-color="rgba(227,248,215,0.25)" offset="0.85"></stop>
                                                <stop id="SvgjsStop1829" stop-opacity="0.25" stop-color="rgba(227,248,215,0.25)" offset="1"></stop>
                                            </linearGradient>
                                        </defs>
                                        <line id="SvgjsLine1819" x1="0" y1="0" x2="0" y2="81.157" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0"
                                              width="1" height="81.157" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line>
                                        <g id="SvgjsG1832" class="apexcharts-xaxis" transform="translate(0, 0)">
                                            <g id="SvgjsG1833" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)">
                                                <text id="SvgjsText1835" font-family="Helvetica, Arial, sans-serif" x="0" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1836">A1</tspan>
                                                    <title>A1</title></text>
                                                <text id="SvgjsText1838" font-family="Helvetica, Arial, sans-serif" x="23.5" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1839">A2</tspan>
                                                    <title>A2</title></text>
                                                <text id="SvgjsText1841" font-family="Helvetica, Arial, sans-serif" x="47" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1842">A3</tspan>
                                                    <title>A3</title></text>
                                                <text id="SvgjsText1844" font-family="Helvetica, Arial, sans-serif" x="70.5" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1845">A4</tspan>
                                                    <title>A4</title></text>
                                                <text id="SvgjsText1847" font-family="Helvetica, Arial, sans-serif" x="94" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1848">A5</tspan>
                                                    <title>A5</title></text>
                                                <text id="SvgjsText1850" font-family="Helvetica, Arial, sans-serif" x="117.5" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1851">A6</tspan>
                                                    <title>A6</title></text>
                                                <text id="SvgjsText1853" font-family="Helvetica, Arial, sans-serif" x="141" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1854">A7</tspan>
                                                    <title>A7</title></text>
                                                <text id="SvgjsText1856" font-family="Helvetica, Arial, sans-serif" x="164.5" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1857">A8</tspan>
                                                    <title>A8</title></text>
                                                <text id="SvgjsText1859" font-family="Helvetica, Arial, sans-serif" x="188" y="110.157" text-anchor="middle" dominant-baseline="auto" font-size="13px"
                                                      font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;">
                                                    <tspan id="SvgjsTspan1860">A9</tspan>
                                                    <title>A9</title></text>
                                            </g>
                                        </g>
                                        <g id="SvgjsG1863" class="apexcharts-grid">
                                            <g id="SvgjsG1864" class="apexcharts-gridlines-horizontal" style="display: none;">
                                                <line id="SvgjsLine1866" x1="0" y1="0" x2="188" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1867" x1="0" y1="16.2314" x2="188" y2="16.2314" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1868" x1="0" y1="32.4628" x2="188" y2="32.4628" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1869" x1="0" y1="48.6942" x2="188" y2="48.6942" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1870" x1="0" y1="64.9256" x2="188" y2="64.9256" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                                <line id="SvgjsLine1871" x1="0" y1="81.15700000000001" x2="188" y2="81.15700000000001" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"
                                                      class="apexcharts-gridline"></line>
                                            </g>
                                            <g id="SvgjsG1865" class="apexcharts-gridlines-vertical" style="display: none;"></g>
                                            <line id="SvgjsLine1873" x1="0" y1="81.157" x2="188" y2="81.157" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                                            <line id="SvgjsLine1872" x1="0" y1="1" x2="0" y2="81.157" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line>
                                        </g>
                                        <g id="SvgjsG1822" class="apexcharts-area-series apexcharts-plot-series">
                                            <g id="SvgjsG1823" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0">
                                                <path id="SvgjsPath1830"
                                                      d="M 0 81.157L 0 66.95452499999999C 8.225 66.95452499999999 15.275 56.80989999999999 23.5 56.80989999999999C 31.725 56.80989999999999 38.775 68.98344999999999 47 68.98344999999999C 55.225 68.98344999999999 62.275 52.75204999999999 70.5 52.75204999999999C 78.725 52.75204999999999 85.775 62.896674999999995 94 62.896674999999995C 102.225 62.896674999999995 109.275 16.231399999999994 117.5 16.231399999999994C 125.725 16.231399999999994 132.775 73.04129999999999 141 73.04129999999999C 149.225 73.04129999999999 156.275 26.376025 164.5 26.376025C 172.725 26.376025 179.775 46.665274999999994 188 46.665274999999994C 188 46.665274999999994 188 46.665274999999994 188 81.157M 188 46.665274999999994z"
                                                      fill="url(#SvgjsLinearGradient1826)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0"
                                                      class="apexcharts-area" index="0" clip-path="url(#gridRectMaskh70zbgqf)"
                                                      pathTo="M 0 81.157L 0 66.95452499999999C 8.225 66.95452499999999 15.275 56.80989999999999 23.5 56.80989999999999C 31.725 56.80989999999999 38.775 68.98344999999999 47 68.98344999999999C 55.225 68.98344999999999 62.275 52.75204999999999 70.5 52.75204999999999C 78.725 52.75204999999999 85.775 62.896674999999995 94 62.896674999999995C 102.225 62.896674999999995 109.275 16.231399999999994 117.5 16.231399999999994C 125.725 16.231399999999994 132.775 73.04129999999999 141 73.04129999999999C 149.225 73.04129999999999 156.275 26.376025 164.5 26.376025C 172.725 26.376025 179.775 46.665274999999994 188 46.665274999999994C 188 46.665274999999994 188 46.665274999999994 188 81.157M 188 46.665274999999994z"
                                                      pathFrom="M -1 97.38839999999999L -1 97.38839999999999L 23.5 97.38839999999999L 47 97.38839999999999L 70.5 97.38839999999999L 94 97.38839999999999L 117.5 97.38839999999999L 141 97.38839999999999L 164.5 97.38839999999999L 188 97.38839999999999"></path>
                                                <path id="SvgjsPath1831"
                                                      d="M 0 66.95452499999999C 8.225 66.95452499999999 15.275 56.80989999999999 23.5 56.80989999999999C 31.725 56.80989999999999 38.775 68.98344999999999 47 68.98344999999999C 55.225 68.98344999999999 62.275 52.75204999999999 70.5 52.75204999999999C 78.725 52.75204999999999 85.775 62.896674999999995 94 62.896674999999995C 102.225 62.896674999999995 109.275 16.231399999999994 117.5 16.231399999999994C 125.725 16.231399999999994 132.775 73.04129999999999 141 73.04129999999999C 149.225 73.04129999999999 156.275 26.376025 164.5 26.376025C 172.725 26.376025 179.775 46.665274999999994 188 46.665274999999994"
                                                      fill="none" fill-opacity="1" stroke="#71dd37" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0"
                                                      class="apexcharts-area" index="0" clip-path="url(#gridRectMaskh70zbgqf)"
                                                      pathTo="M 0 66.95452499999999C 8.225 66.95452499999999 15.275 56.80989999999999 23.5 56.80989999999999C 31.725 56.80989999999999 38.775 68.98344999999999 47 68.98344999999999C 55.225 68.98344999999999 62.275 52.75204999999999 70.5 52.75204999999999C 78.725 52.75204999999999 85.775 62.896674999999995 94 62.896674999999995C 102.225 62.896674999999995 109.275 16.231399999999994 117.5 16.231399999999994C 125.725 16.231399999999994 132.775 73.04129999999999 141 73.04129999999999C 149.225 73.04129999999999 156.275 26.376025 164.5 26.376025C 172.725 26.376025 179.775 46.665274999999994 188 46.665274999999994"
                                                      pathFrom="M -1 97.38839999999999L -1 97.38839999999999L 23.5 97.38839999999999L 47 97.38839999999999L 70.5 97.38839999999999L 94 97.38839999999999L 117.5 97.38839999999999L 141 97.38839999999999L 164.5 97.38839999999999L 188 97.38839999999999"></path>
                                                <g id="SvgjsG1824" class="apexcharts-series-markers-wrap" data:realIndex="0">
                                                    <g class="apexcharts-series-markers">
                                                        <circle id="SvgjsCircle1879" r="0" cx="0" cy="0" class="apexcharts-marker w6hf69v0x no-pointer-events" stroke="#ffffff" fill="#71dd37"
                                                                fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle>
                                                    </g>
                                                </g>
                                            </g>
                                            <g id="SvgjsG1825" class="apexcharts-datalabels" data:realIndex="0"></g>
                                        </g>
                                        <line id="SvgjsLine1874" x1="0" y1="0" x2="188" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"
                                              class="apexcharts-ycrosshairs"></line>
                                        <line id="SvgjsLine1875" x1="0" y1="0" x2="188" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                                        <g id="SvgjsG1876" class="apexcharts-yaxis-annotations"></g>
                                        <g id="SvgjsG1877" class="apexcharts-xaxis-annotations"></g>
                                        <g id="SvgjsG1878" class="apexcharts-point-annotations"></g>
                                        <rect id="SvgjsRect1880" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"
                                              class="apexcharts-zoom-rect"></rect>
                                        <rect id="SvgjsRect1881" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"
                                              class="apexcharts-selection-rect"></rect>
                                    </g>
                                    <rect id="SvgjsRect1818" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
                                    <g id="SvgjsG1861" class="apexcharts-yaxis" rel="0" transform="translate(-8, 0)">
                                        <g id="SvgjsG1862" class="apexcharts-yaxis-texts-g"></g>
                                    </g>
                                    <g id="SvgjsG1816" class="apexcharts-annotations"></g>
                                </svg>
                                <div class="apexcharts-legend" style="max-height: 60px;"></div>
                                <div class="apexcharts-tooltip apexcharts-theme-light">
                                    <div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div>
                                    <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(113, 221, 55);"></span>
                                        <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div>
                                            <div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span
                                                        class="apexcharts-tooltip-text-goals-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light">
                                    <div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div>
                                </div>
                                <div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light">
                                    <div class="apexcharts-yaxistooltip-text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 325px; height: 121px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between" style="position: relative;">
                    <div class="d-flex flex-column">
                        <div class="card-title mb-auto">
                            <h5 class="mb-0">Generated Leads</h5>
                            <small>Monthly Report</small>
                        </div>
                        <div class="chart-statistics">
                            <h3 class="card-title mb-1">4,230</h3>
                            <small class="text-success text-nowrap fw-semibold"><i class="bx bx-up-arrow-alt"></i> +12.8%</small>
                        </div>
                    </div>
                    <div id="leadsReportChart" style="min-height: 154.8px;">
                        <div id="apexcharts5yjuk35k" class="apexcharts-canvas apexcharts5yjuk35k apexcharts-theme-light" style="width: 130px; height: 154.8px;">
                            <svg id="SvgjsSvg1882" width="130" height="154.8" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
                                 class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                <g id="SvgjsG1884" class="apexcharts-inner apexcharts-graphical" transform="translate(-0.5, 15)">
                                    <defs id="SvgjsDefs1883">
                                        <clipPath id="gridRectMask5yjuk35k">
                                            <rect id="SvgjsRect1886" width="137" height="140" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                  fill="#fff"></rect>
                                        </clipPath>
                                        <clipPath id="forecastMask5yjuk35k"></clipPath>
                                        <clipPath id="nonForecastMask5yjuk35k"></clipPath>
                                        <clipPath id="gridRectMarkerMask5yjuk35k">
                                            <rect id="SvgjsRect1887" width="137" height="144" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                  fill="#fff"></rect>
                                        </clipPath>
                                    </defs>
                                    <g id="SvgjsG1888" class="apexcharts-pie">
                                        <g id="SvgjsG1889" transform="translate(0, 0) scale(1)">
                                            <circle id="SvgjsCircle1890" r="45.658536585365866" cx="66.5" cy="66.5" fill="transparent"></circle>
                                            <g id="SvgjsG1891" class="apexcharts-slices">
                                                <g id="SvgjsG1892" class="apexcharts-series apexcharts-pie-series" seriesName="Electronic" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1893"
                                                          d="M 66.5 5.621951219512184 A 60.878048780487816 60.878048780487816 0 0 1 127.35786572965185 64.93251725651581 L 112.14339929723889 65.32438794238686 A 45.658536585365866 45.658536585365866 0 0 0 66.5 20.841463414634134 L 66.5 5.621951219512184 z"
                                                          fill="rgba(113,221,55,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0"
                                                          class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="88.52459016393442" data:startAngle="0" data:strokeWidth="0"
                                                          data:value="45"
                                                          data:pathOrig="M 66.5 5.621951219512184 A 60.878048780487816 60.878048780487816 0 0 1 127.35786572965185 64.93251725651581 L 112.14339929723889 65.32438794238686 A 45.658536585365866 45.658536585365866 0 0 0 66.5 20.841463414634134 L 66.5 5.621951219512184 z"></path>
                                                </g>
                                                <g id="SvgjsG1894" class="apexcharts-series apexcharts-pie-series" seriesName="Sports" rel="2" data:realIndex="1">
                                                    <path id="SvgjsPath1895"
                                                          d="M 127.35786572965185 64.93251725651581 A 60.878048780487816 60.878048780487816 0 0 1 43.08233929588599 122.69386078982693 L 48.93675447191448 108.64539559237019 A 45.658536585365866 45.658536585365866 0 0 0 112.14339929723889 65.32438794238686 L 127.35786572965185 64.93251725651581 z"
                                                          fill="rgba(153,229,112,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0"
                                                          class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="114.09836065573771" data:startAngle="88.52459016393442"
                                                          data:strokeWidth="0" data:value="58"
                                                          data:pathOrig="M 127.35786572965185 64.93251725651581 A 60.878048780487816 60.878048780487816 0 0 1 43.08233929588599 122.69386078982693 L 48.93675447191448 108.64539559237019 A 45.658536585365866 45.658536585365866 0 0 0 112.14339929723889 65.32438794238686 L 127.35786572965185 64.93251725651581 z"></path>
                                                </g>
                                                <g id="SvgjsG1896" class="apexcharts-series apexcharts-pie-series" seriesName="Decor" rel="3" data:realIndex="2">
                                                    <path id="SvgjsPath1897"
                                                          d="M 43.08233929588599 122.69386078982693 A 60.878048780487816 60.878048780487816 0 0 1 6.268937978118807 75.35189194668317 L 21.3267034835891 73.13891896001238 A 45.658536585365866 45.658536585365866 0 0 0 48.93675447191448 108.64539559237019 L 43.08233929588599 122.69386078982693 z"
                                                          fill="rgba(181,236,151,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0"
                                                          class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="59.016393442622956" data:startAngle="202.62295081967213"
                                                          data:strokeWidth="0" data:value="30"
                                                          data:pathOrig="M 43.08233929588599 122.69386078982693 A 60.878048780487816 60.878048780487816 0 0 1 6.268937978118807 75.35189194668317 L 21.3267034835891 73.13891896001238 A 45.658536585365866 45.658536585365866 0 0 0 48.93675447191448 108.64539559237019 L 43.08233929588599 122.69386078982693 z"></path>
                                                </g>
                                                <g id="SvgjsG1898" class="apexcharts-series apexcharts-pie-series" seriesName="Fashion" rel="4" data:realIndex="3">
                                                    <path id="SvgjsPath1899"
                                                          d="M 6.268937978118807 75.35189194668317 A 60.878048780487816 60.878048780487816 0 0 1 66.48937477611985 5.621952146737883 L 66.49203108208988 20.84146411005341 A 45.658536585365866 45.658536585365866 0 0 0 21.3267034835891 73.13891896001238 L 6.268937978118807 75.35189194668317 z"
                                                          fill="rgba(227,248,215,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0"
                                                          class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="98.36065573770492" data:startAngle="261.6393442622951"
                                                          data:strokeWidth="0" data:value="50"
                                                          data:pathOrig="M 6.268937978118807 75.35189194668317 A 60.878048780487816 60.878048780487816 0 0 1 66.48937477611985 5.621952146737883 L 66.49203108208988 20.84146411005341 A 45.658536585365866 45.658536585365866 0 0 0 21.3267034835891 73.13891896001238 L 6.268937978118807 75.35189194668317 z"></path>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="SvgjsG1900" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)">
                                            <text id="SvgjsText1901" font-family="Helvetica, Arial, sans-serif" x="66.5" y="86.5" text-anchor="middle" dominant-baseline="auto" font-size=".7rem"
                                                  font-weight="400" fill="#a1acb8" class="apexcharts-text apexcharts-datalabel-label" style="font-family: Helvetica, Arial, sans-serif;">1 Week
                                            </text>
                                            <text id="SvgjsText1902" font-family="Public Sans" x="66.5" y="67.5" text-anchor="middle" dominant-baseline="auto" font-size="1.5rem" font-weight="500"
                                                  fill="#566a7f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Public Sans;">32%
                                            </text>
                                        </g>
                                    </g>
                                    <line id="SvgjsLine1903" x1="0" y1="0" x2="133" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"
                                          class="apexcharts-ycrosshairs"></line>
                                    <line id="SvgjsLine1904" x1="0" y1="0" x2="133" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                                </g>
                                <g id="SvgjsG1885" class="apexcharts-annotations"></g>
                            </svg>
                            <div class="apexcharts-legend"></div>
                            <div class="apexcharts-tooltip apexcharts-theme-false">
                                <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(113, 221, 55);"></span>
                                    <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                        <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div>
                                        <div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span>
                                        </div>
                                        <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                    </div>
                                </div>
                                <div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(153, 229, 112);"></span>
                                    <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                        <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div>
                                        <div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span>
                                        </div>
                                        <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                    </div>
                                </div>
                                <div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(181, 236, 151);"></span>
                                    <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                        <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div>
                                        <div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span>
                                        </div>
                                        <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                    </div>
                                </div>
                                <div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(227, 248, 215);"></span>
                                    <div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                        <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div>
                                        <div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span>
                                        </div>
                                        <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 312px; height: 156px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>