<form method="post" action="{{ path('app_field_delete', {'id': field.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ field.id) }}">
    <button type="button" class="dropdown-item text-danger delete-record">Delete</button>
</form>
